.env
.env.local
.env.*.local

postgres_data/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
.db
backend/.env
backend/static/product_images/*
!backend/static/product_images/.gitkeep

node_modules/
frontend/node_modules/
dist/
frontend/dist/
.eslintcache

.DS_Store
Thumbs.db
.vscode/
.idea/